
@import "./Utils/variables.scss", "./utils/keyframes", "./utils/mixins";
@import "./base/reset";
@import "./layouts/header", "./layouts/footer", "./layouts/maps", "./layouts/loader";
@import "./components/buttons", "./components/heart";




.explorer{
  @include flexcentre;
  flex-direction: column;
  text-align: center;
  background-color: $color-grey-shadow;
  padding-top: 25px;
  padding-bottom: 50px;
  &__par{
    font-size: 16px;
    font-weight: 300;
  }
  
  
}
// fonctionnements

.section1{
  @include desktop {
display: flex;
flex-direction: column;
}
&__bloc{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  &__heading{
    @include desktop{
    margin-left:500px;
    
    }
    
  }
}
  
  .section1__list {
  list-style-type: none;
  background-color: $color-grey-shadow;
  height: 70px;
  width: 90%;
  border-radius: 25px;
  margin-left: 20px;
  padding-left: 0;
  @include desktop{
    margin-left:15;
    width: 30%;
    margin-right: 15px;
   
  }
 
  &:hover{
    background-color: #f5edff;
    
  }
} 
 .icone{
  margin-right: 0px;
  margin-top: 15px;
  &:hover{
    color: $color-primary;
  }
}

.number{
  width: 24px;
  height: 24Px;
  border-radius: 50px;
  padding: 7px;
background-color: $color-primary;
color: white;
@include flexcentre;
margin-right: 0px;
margin-top: 23px;
margin-left: 10px;
position: absolute;

}



.liste{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  padding-top: 10px;
  margin-left: 30px;
  width: 230px;
}
// restaurants
.section2{
  background-color: $color-grey-shadow;
  padding-top: 50px;
  padding-bottom: 50px;

&__carte{
  width: 90%;
  height: 270px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: white;
  margin-left: 20px;
  box-shadow: 6px 6px 6px #dbdbdb;
@include desktop{
  width: 40%;
}}

  
a{
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  color: black;

  

}

figure{
  width: 100%;
  margin-left: 0;
  margin-bottom: 0;
  height: 100%;
}

img{
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  
}
.recipe{
  margin-top: 5px;
  margin-left: 15px;
  font-weight: 300;
  
}

}
.responsive{
  @include desktop{
    display: flex;
    flex-direction: row;
  }
}