@charset "UTF-8";
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -10;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    z-index: -10;
  }
}
@keyframes loader-spin {
  0% {
    scale: 1;
  }
  100% {
    scale: 1;
    z-index: -10;
    visibility: hidden;
  }
}
@keyframes fav {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(25px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", "cursive", sans-serif;
  text-align: center;
  font-weight: normal;
  margin-top: 25px;
}

h2 {
  font-family: "Roboto";
  margin-left: 20px;
  margin-right: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin-top: 20px;
  margin-bottom: 7px;
  margin-left: 15px;
  font-size: 18px;
}

h3 {
  margin-left: 38px;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Shrikhand", "cursive", sans-serif;
  font-weight: normal;
  color: white;
}

.header {
  margin: 0px;
  height: 80px;
  width: 100%;
  box-shadow: 10px 10px 10px #494949;
}

.logo {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
.logo .logo__header {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 15px;
  height: 100%;
  box-shadow: 0px 3px 3px #73737338;
  position: relative;
  width: 100%;
}

.footer {
  width: 100%;
  height: 200px;
  background: #494949;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footerlist {
  list-style-type: none;
}

.lien {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.link {
  margin-bottom: 10px;
}

.fork {
  margin-right: 10px;
}

.help {
  margin-right: 10px;
}

.map {
  background-color: #ebe7e7;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__icone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.local {
  margin-right: 10px;
}

.map-search {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -10;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    z-index: -10;
  }
}
@keyframes loader-spin {
  0% {
    scale: 1;
  }
  100% {
    scale: 1;
    z-index: -10;
    visibility: hidden;
  }
}
@keyframes fav {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    transform: translateY(25px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide {
  from {
    -webkit-transform: translateY(25px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideleft {
  0% {
    transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slideleft {
  0% {
    -webkit-transform: translateX(20px);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: translateX(0px);
    opacity: 1;
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader-spin 3000ms forwards;
  -moz-animation: loader-spin 3000ms forwards;
  animation: loader-spin 3000ms forwards;
}
.loader__load {
  width: 60px;
  height: 60px;
  border-right: 10px solid #9356dc;
  border-top: 10px solid #ff79da;
  border-left: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 500ms linear infinite;
  -moz-animation: spin 500ms linear infinite;
  -o-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

.carte-btn {
  background-color: #99e2d0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  right: 27px;
  position: absolute;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 238px;
  margin-top: 15px;
}
@media screen and (min-width: 1120px) {
  .carte-btn {
    display: flex;
    flex-direction: row;
  }
}

.explorer__btn {
  width: 220px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(355deg, #9356dc, #ff79da);
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 5px 5px 5px 3px #d3d1d1;
}
.explorer__btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px #747373;
  filter: brightness(1.1);
}

.heart {
  position: absolute;
  margin-left: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heart__heart-empty {
  margin-left: 300px;
  left: 15px;
}
.heart .heart-full {
  position: absolute;
  opacity: 0;
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
  color: #9356dc;
  cursor: pointer;
}
.heart .heart-full:hover {
  opacity: 1;
  animation: fav 500ms linear;
  -moz-animation: fav 500ms linear;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

.page1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flèche {
  position: absolute;
  margin-right: 300px;
}

.image {
  object-fit: cover;
  height: 280px;
  width: 100%;
  position: static;
}

.à-la-française {
  background-color: #f2f2f2;
  width: 100%;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.menu {
  font-family: "Shrikhand", "cursive";
  font-size: 30px;
  margin-right: 125px;
}

.coeur {
  display: flex;
  justify-content: center;
  align-items: center;
}
.coeur__favorite {
  position: absolute;
  opacity: 0;
  background: linear-gradient(to top, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 0.3s ease-in-out;
  color: #9356dc;
  cursor: pointer;
}
.coeur__favorite:hover {
  opacity: 1;
  animation: fav 500ms linear;
  -moz-animation: fav 500ms linear;
}

.entrée {
  font-weight: 300;
  margin-bottom: 0;
}

.menu-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.meals-title {
  margin-right: 290px;
}

.barre {
  width: 40px;
  height: 4px;
  border-radius: 3px;
  background-color: #99e2d0;
  margin-top: 5px;
  margin-bottom: 13px;
}

ul li {
  list-style-type: none;
}

.food {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 70px;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 5px 5px 0 #b8b7b7;
  cursor: pointer;
  animation: slide 2s forwards;
  -webkit-animation: slide 2s forwards;
}

.check {
  height: 70px;
  opacity: 0;
  background-color: #99e2d0;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 500ms ease-in-out, opacity 500ms forwards;
}
.check:hover {
  width: 60px;
  opacity: 1;
  animation: slideleft 300ms ease-in-out;
  -webkit-animation: slideleft 300ms ease-in-out;
}

.starter {
  padding-left: 10px;
}

.food1 {
  font-size: 18px;
  font-weight: 400;
}

.plus {
  font-weight: 100;
  font-size: 15px;
}

.circle {
  color: white;
}

.commande-btn {
  width: 220px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(355deg, #9356dc, #ff79da);
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 5px 5px 5px 3px #d3d1d1;
  width: 190px;
  margin-bottom: 90px;
  margin-top: 40px;
}
.commande-btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px #747373;
  filter: brightness(1.1);
}

.explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 50px;
  font-weight: bold;
}
.explorer__parag {
  font-size: 18px;
  font-weight: 300;
  width: 350px;
}

@media screen and (min-width: 1120px) {
  .section1__heading {
    margin-left: 600px;
  }
}
.section1__number {
  width: 24px;
  height: 24Px;
  border-radius: 50px;
  padding: 7px;
  background-color: #9356dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-top: 23px;
  margin-left: 10px;
  position: absolute;
}
@media screen and (min-width: 1120px) {
  .section1__number {
    margin-left: 390px;
  }
}

.section1__list {
  list-style-type: none;
  background-color: #f2f2f2;
  height: 70px;
  width: 90%;
  border-radius: 25px;
  margin-left: 20px;
  padding-left: 0;
}
@media screen and (min-width: 1120px) {
  .section1__list {
    display: flex;
    justify-content: center;
    width: 600px;
    margin-left: 400px;
  }
}
.section1__list:hover {
  background-color: #f5edff;
}

.icone {
  margin-right: 0px;
  margin-top: 15px;
}
.icone:hover {
  color: #9356dc;
}

.liste {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  padding-top: 10px;
  margin-left: 30px;
  width: 230px;
}

.section2 {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1120px) {
  .section2__resp {
    display: flex;
    justify-content: space-around;
  }
}
.section2__carte {
  width: 90%;
  height: 270px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: white;
  margin-left: 20px;
  box-shadow: 6px 6px 6px #dbdbdb;
}
@media screen and (min-width: 1120px) {
  .section2__carte {
    width: 45%;
  }
}

a {
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  color: black;
}

figure {
  width: 100%;
  margin-left: 0;
  margin-bottom: 0;
  height: 100%;
}
@media screen and (min-width: 1120px) {
  figure {
    margin: 0;
  }
}

.img-cartes {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}

.figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe {
  margin-left: 15px;
  margin-top: 0;
}

/*# sourceMappingURL=style.css.map */
