@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -10;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    z-index: -10;
  }
}
@keyframes loader-spin {
  0% {
    scale: 1;
  }
  100% {
    scale: 1;
    z-index: -10;
    visibility: hidden;
  }
}
@keyframes fullheart {
  50% {
    opacity: 0, 5;
    background-image: linear-gradient(0deg, #9356dc, #975edb, #9a6dd1, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ff79da;
  }
  100% {
    opacity: 1;
    background-image: #ff79da;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #9356dc;
  }
}
@keyframes empty-heart {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

h1 {
  font-family: "Shrikhand", "cursive", sans-serif;
  text-align: center;
  font-weight: normal;
  margin-top: 25px;
}

h2 {
  font-family: "Roboto";
  margin-left: 20px;
  margin-right: 20px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

h4 {
  margin-bottom: 0px;
  margin-left: 15px;
  font-size: 18px;
}

h3 {
  margin-left: 38px;
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 20px;
  font-family: "Shrikhand", "cursive", sans-serif;
  font-weight: normal;
  color: white;
}

.header {
  margin: 0px;
  height: 80px;
  width: 100%;
  box-shadow: 10px 10px 10px #494949;
}

.logo {
  margin-bottom: 0px;
  margin-top: 0px;
  width: 100%;
  height: 100%;
}
.logo .logo__header {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 15px;
  height: 100%;
  box-shadow: 0px 3px 3px #73737338;
  position: relative;
  width: 100%;
}

.footer {
  width: 100%;
  height: 200px;
  background: #494949;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.footer .footerlist {
  list-style-type: none;
}

.lien {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.link {
  margin-bottom: 10px;
}

.fork {
  margin-right: 10px;
}

.help {
  margin-right: 10px;
}

.map {
  background-color: #ebe7e7;
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map__icone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.local {
  margin-right: 10px;
}

.map-search {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -10;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    z-index: -10;
  }
}
@keyframes loader-spin {
  0% {
    scale: 1;
  }
  100% {
    scale: 1;
    z-index: -10;
    visibility: hidden;
  }
}
@keyframes fullheart {
  50% {
    opacity: 0, 5;
    background-image: linear-gradient(0deg, #9356dc, #975edb, #9a6dd1, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ff79da;
  }
  100% {
    opacity: 1;
    background-image: #ff79da;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #9356dc;
  }
}
@keyframes empty-heart {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: loader-spin 3000ms forwards;
  -moz-animation: loader-spin 3000ms forwards;
  animation: loader-spin 3000ms forwards;
}
.loader__load {
  width: 60px;
  height: 60px;
  border-right: 10px solid #9356dc;
  border-top: 10px solid #ff79da;
  border-left: 10px solid #9356dc;
  border-bottom: 10px solid #ff79da;
  border-radius: 50%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: spin 500ms linear infinite;
  -moz-animation: spin 500ms linear infinite;
  -o-animation: spin 500ms linear infinite;
  animation: spin 500ms linear infinite;
}

.carte-btn {
  background-color: #99e2d0;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  right: 27px;
  position: absolute;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 238px;
  margin-top: 15px;
}

.explorer__btn {
  width: 220px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(0deg, #9356dc, #ff79da);
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 5px 5px 5px 3px #d3d1d1;
}
.explorer__btn:hover {
  cursor: pointer;
  box-shadow: 5px 5px 5px 3px #747373;
  filter: brightness(1.1);
}

.heart {
  height: 18px;
  width: 20px;
  position: absolute;
  margin-left: 300px;
  left: 15px;
  color: white;
  text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
}
.heart__heart-empty {
  position: relative;
  text-shadow: none;
}
.heart__heart-empty:hover {
  -webkit-animation: empty-heart 2s;
  animation: empty-heart 2s;
}

.heart-full {
  position: absolute;
  opacity: 0;
  top: 0;
  text-shadow: none;
}
.heart-full:hover {
  animation: fullheart 2s ease forwards;
  -webkit-animation: fullheart 2s ease forwards;
}

.explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 25px;
  padding-bottom: 50px;
  font-weight: bold;
}
.explorer__parag {
  font-size: 18px;
  font-weight: 300;
  width: 350px;
}

@media screen and (min-width: 1120px) {
  .section1 {
    display: flex;
    flex-direction: column;
  }
}
.section1__number {
  width: 24px;
  height: 24Px;
  border-radius: 50px;
  padding: 7px;
  background-color: #9356dc;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0px;
  margin-top: 23px;
  margin-left: 10px;
  position: absolute;
}

.section1__list {
  list-style-type: none;
  background-color: #f2f2f2;
  height: 70px;
  width: 90%;
  border-radius: 25px;
  margin-left: 20px;
  padding-left: 0;
}
@media screen and (min-width: 1120px) {
  .section1__list {
    margin-left: 15;
    width: 30%;
    margin-right: 15px;
  }
}
.section1__list:hover {
  background-color: #f5edff;
}

.icone {
  margin-right: 0px;
  margin-top: 15px;
}
.icone:hover {
  color: #9356dc;
}

.liste {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
  padding-top: 10px;
  margin-left: 30px;
  width: 230px;
}

.section2 {
  background-color: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 50px;
}
.section2__carte {
  width: 90%;
  height: 270px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: white;
  margin-left: 20px;
  box-shadow: 6px 6px 6px #dbdbdb;
}
@media screen and (min-width: 1120px) {
  .section2__carte {
    width: 40%;
  }
}
.section2 a {
  width: 100%;
  height: 100%;
  margin: 0;
  text-decoration: none;
  color: black;
}
.section2 figure {
  width: 100%;
  margin-left: 0;
  margin-bottom: 0;
  height: 100%;
}
.section2 img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}
.section2 .recipe {
  margin-top: 5px;
  margin-left: 15px;
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
