.carte-btn{
         @include new;
         }

    .explorer__btn{
      @include button;
    }
    .btn{
      width: 100%;
      height: 100px;
      @include flexcentre;
  &__commande-btn {
      @include button;
      width: 190px;
      
    }
     
  }