.explorer {
    @include flexcentre;
    flex-direction: column;
    text-align: center;
    background-color: $color-grey-shadow;
    padding-top: 25px;
    padding-bottom: 50px;
    font-weight: bold;
    &__parag {
      font-size: 18px;
      font-weight: 300;
      width: 350px;
    }
  }
  // fonctionnements
  .section1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    &__heading {
      @include desktop {
        margin-left: 600px;
      }
    }
  
    &__number {
      margin: 0 0 0 -30px;
      width: 24px;
      height: 24px;
      border-radius: 50px;
      @include flexcentre;
      background-color: $color-primary;
      color: white;  
    }
  }
  .section1__list {
    background-color: $color-grey-shadow;
    width: auto;
    height: 70px;
    margin: 15px 20px 15px 20px;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
      background-color: #f5edff;
    }
  }
  .icone {
   &:hover {
      color: $color-primary;
    }
  }
  // restaurants
  .section2 {
    background-color: $color-grey-shadow;
    padding-top: 35px;
    padding-bottom: 50px;
    margin-top: 25px;
    &__carte {
      height: 270px;
      border-radius: 15px;
      margin: 0 15px 20px 15px;
      background-color: white;
      box-shadow: 6px 6px 6px #dbdbdb;
    }
  }
  a {
    margin: 0;
    text-decoration: none;
    color: black;
  }
  figure {
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    height: 100%;
    @include desktop {
      margin: 0;
    }
  }
  .img-cartes {
    @include img-cartes;
  }
  //.carte-intro{
    //display: flex;
    //flex-direction: column;
    
  //}
  figcaption {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    }
  .recipe {
    margin-left: 15px;
    margin-top: 0;
  }
  