@keyframes spin{
    0%{
        transform: rotate(0deg);
       }
    100%{
        transform: rotate(360deg);
        z-index: -10;
       }
}  
    @-webkit-keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
       }
   100%{
        -webkit-transform: rotate(360deg);
        z-index: -10;
         }
}
@keyframes loader-spin{
    0%{scale: 1;}
    100%{scale: 1;
         z-index: -10;
         visibility: hidden;
    }
}
    
// coeur j'aime
@keyframes fullheart{
    
    50%{opacity: 0,5;
    background-image: linear-gradient(0deg, $color-primary,#975edb, #9a6dd1, $color-secondary);
    -webkit-background-clip:text;
    -webkit-text-fill-color:$color-secondary;
}
    100%{opacity: 1;
        background-image: $color-secondary;
        -webkit-background-clip: text;
        -webkit-text-fill-color: $color-primary;
    }
}

@keyframes empty-heart{
    0%{
        opacity: 1;
    }
    50%{opacity: 0;
    }
    100%{opacity: 0;}
}