// keyframes loader
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    z-index: -10;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    z-index: -10;
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    z-index: -10;
  }
}
@keyframes loader-spin {
  0% {
    scale: (1,1);
  }
  100% {
    scale: (1,1);
    z-index: -10;
    visibility: hidden;
  }
}
//keyframes like
@keyframes fav {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fav {
  0% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes fav {
  0% {
    -moz-transform: scale(0);
  }
  50% {
    -moz-transform: scale(0.5);
  }
  100% {
    -moz-transform: scale(1);
  }
}
//keyframes slide des menus vers le haut
@keyframes slide {
    0%{
        transform: translateY(25px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@-webkit-keyframes slide {
  0%{
      -webkit-transform: translateY(25px);
      opacity: 0;
  }
  100%{
      -webkit-transform: translateY(0px);
      opacity: 1;
  }
}
@-moz-keyframes slide {
  0%{
      -moz-transform: translateY(25px);
      opacity: 0;
  }
  100%{
      -moz-transform: translateY(0px);
      opacity: 1;
  }
}



