
@mixin button {
  width: 220px;
  height: 50px;
  border-radius: 40px;
  background-image: linear-gradient(355deg, $color-primary, $color-secondary);
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 16px;
  box-shadow: 5px 5px 5px 3px rgb(211, 209, 209);
 @include flexcentre;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px 3px rgb(116, 115, 115);
    filter: brightness(1.1);
  }
}

@mixin flexcentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexbetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin img-cartes {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
}


//responsive
$breakpoint: (
  "desktop": 1120px,
  "laptop": 1024px,
  "tablet": 800px,
  "phablet": 400px,
  "mobile": 375px,
);

@mixin desktop {
  @media screen and (min-width: map-get($breakpoint, "desktop")) {
    @content;
  }
}
@mixin laptop {
  @media screen and (min-width: map-get($breakpoint,"laptop" )) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: map-get($breakpoint, "tablet")) {
    @content;
  }
}
@mixin phablet {
  @media screen and (min-width: map-get($breakpoint, "phablet")) {
@content;
  }
}

@mixin mobile {
  @media screen and (max-width: map-get($breakpoint, "mobile")) {
    @content;
  }
}
