.footer{
    width: 100%;
    height: 200px;
    background: #494949; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    .footerlist{
      list-style-type: none;
    }
  
}
.lien{
    color: white;
    text-decoration: none;
    font-family: $font-roboto, sans-serif;
    font-size: 15px;
    
    
  }
  .link{
    margin-bottom: 10px;
  }
  .fork{
    margin-right: 10px;
  }
  .help{
    margin-right: 10px;
  }