@import "../utils/keyframes";
@import"../utils/variables";

.loader{
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    @include flexcentre;
    z-index: 10;
    animation : cercle 1s ease-in-out;
    animation-delay : 3s;
    &__load{
      /*   width: 40px;
        height: 40px;
        border-right: 10px solid $color-tertiary;
        border-top: 10px solid transparent;
        border-left: 10px solid $color-tertiary;
        border-bottom: 10px solid transparent;
        border-radius: 50%;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-animation: rotation 190ms linear 0ms infinite reverse;
     -moz-animation: rotation 190ms linear  0ms infinite reverse;
    -o-animation: rotation 190ms linear 0ms infinite reverse;
    animation: rotation 190ms linear 0ms infinite reverse; */
    }
}
    