@import "../utils/keyframes";
@import"../utils/variables";

.loader{
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
    @include flexcentre;
    -webkit-animation : loader-spin 3000ms forwards;
    -moz-animation : loader-spin 3000ms forwards;
    animation : loader-spin 3000ms forwards;
      &__load{
         width: 60px;
        height: 60px;
        border-right: 10px solid $color-primary;
        border-top: 10px solid $color-secondary;
        border-left: 10px solid $color-primary;
        border-bottom: 10px solid $color-secondary;
        border-radius: 50%;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-animation: spin 500ms linear infinite;
     -moz-animation: spin 500ms linear infinite;
    -o-animation: spin 500ms linear infinite;
     animation: spin 500ms linear infinite; } 
    }